.container{
  display: flex;
  height : 200px;
  justify-content: center;
  align-items: center;
}

.input{
  width : 60%;
}

.searchBtn{
  margin-left : 50px;
  color : white;
  background-color: #42a5f5;
}